.button__container{
    display: flex;
    justify-content: center;
}

button{
    font-size:15px;
    font-family: 'Roboto', sans-serif;
    width:140px;
    height:50px;
    border-width:1px;
    color:#666666;
    border-color:#dcdcdc;
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(#f9f9f9, #e9e9e9);
    margin: 10px;
}

button:hover{
    background: linear-gradient(#e9e9e9, #f9f9f9);
}